.tab{
    width:80%;
    margin-top: 5%;
    margin-left: 10%;
    -webkit-box-shadow: 4px 4px 13px 7px rgba(0, 0, 0, 0.21);
            box-shadow: 4px 4px 13px 7px rgba(0, 0, 0, 0.21);
    color:#EB796F;
    background: linear-gradient(90deg, #aeafdd 0%, #9f9ee9 43%, #5586c7 100%);

}

table,th,td{
    /* border: 10px solid; */
}

/* tr:hover {background-color: coral;} */

table,th{
    background-color:rgb(2, 2, 51);
    color: white;
}

.del {
    background: linear-gradient(90deg, #EEA390 0%, #EB796F 43%, #EB796F 100%);
   border-color: #EEA390;
   border-radius: 0%;
}
.upd{
    background: linear-gradient(90deg, #EEA390 0%, #EB796F 43%, #EB796F 100%);
    color: #EB796F;
    color: white;
    height: 20px;
    width:100px;
    padding: 10%;
    padding-right: -4%;
    padding-bottom: -5%;
}